<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/docs.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
    <!-- <link href="http://10.10.21.150:8988/css/all-normal.css" rel="stylesheet" type="text/css"> -->
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/docs.min.js"></script>
</head>

<body>
<header id="top">
    <div class="row-fluid">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="{{ site.baseurl }}/images/logo.png" height="50"/>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/html/categories">分类</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/html/tags">标签</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/html/visit">留言</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/html/about">关于</a></li>
                    {% if site.github != '' %}
                      <li class="active"><a href="https://github.com/futuresuperstar">Github</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
