<h1>基础样式</h1>
<ul>
    <li><a href="{{ site.baseurl }}/ui/typeface.html">文本</a></li>
    <li><a href="{{ site.baseurl }}/ui/icon.html">图标</a></li>
    <li><a href="{{ site.baseurl }}/ui/grid.html">网格</a></li>
    <li><a href="{{ site.baseurl }}/ui/border.html">边框</a></li>
    <li><a href="{{ site.baseurl }}/ui/layout.html">布局</a></li>
</ul>
<h1>UI组件</h1>
<ul class="mb20">
    <li><a href="{{ site.baseurl }}/ui/label.html">标签</a></li>
    <li><a href="{{ site.baseurl }}/ui/badge.html">微标</a></li>
    <li><a href="{{ site.baseurl }}/ui/button.html">按钮</a></li>
    <li><a href="{{ site.baseurl }}/ui/list.html">列表</a></li>
    <li><a href="{{ site.baseurl }}/ui/table.html">表格</a></li>
    <li><a href="{{ site.baseurl }}/ui/form.html">表单</a></li>
</ul>
